/**/
@media(min-width: 200px) and (max-width: 300px) {

}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.page__content{
  width: auto;
  height: auto;
  background: url(https://blog-imgs-75.fc2.com/t/o/p/topcruz/20150528144530f7d.jpg) no-repeat !important;
  background-size: contain;
  position: absolute;
  z-index: 1;
  text-align: center;
  }
  .gradation {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,rgba(255, 123, 0, 0.6),rgba(67, 170, 255, 0.6), rgba(255, 0, 255, 0.6));
  background-size: auto;
  animation: AnimationName 6s ease infinite;
  position: absolute;
  z-index: 2;
  }
  
  @keyframes AnimationName {
  0%{background-position:0% 33%}
  50%{background-position:33% 66%}
  100%{background-position:66% 100%}
  }

.bg {
  height: auto;
  background: rgba(255,255,255,0.75);
}

.content {
  text-align: center;
}

h1.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 76px;
  color: rgb(255, 77, 130);
  text-shadow: 2px 2px 1px rgb(27, 27, 27),
             -2px 2px 1px rgb(27, 27, 27),
             2px -2px 1px rgb(27, 27, 27),
             -2px -2px 1px rgb(27, 27, 27);
  margin: 30px 0 0 0;
  position: relative;
  animation: anime1 2.6s ease;      /* アニメーション指定 */
}

h2 {
  font-weight: bold !important;
}

h3.subtitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: rgb(255, 77, 130);
  text-shadow: 2px 2px 1px rgb(27, 27, 27),
             -2px 2px 1px rgb(27, 27, 27),
             2px -2px 1px rgb(27, 27, 27),
             -2px -2px 1px rgb(27, 27, 27);
  margin-top: auto;
  margin-bottom: 30px;
  position: relative;
  animation: anime1 2.6s ease;      /* アニメーション指定 */
}

@keyframes anime1 {
  0% {
      opacity:  0;                /* 透明度指定 */
      top: 50px;                  /* 位置指定 */
  }
  100% {
      opacity:  1;                /* 透明度指定 */
      top: 0;                     /* 位置指定 */
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

#single-button, #double-button, #many-button {
  margin: 15px auto;
  color: black;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  background-color: rgb(171, 195, 218);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgba(0, 2, 119, 0.959);
  width: 130px;
  height: 50px;
  text-align: center;
}

#single-button:hover, #double-button:hover, #many-button:hover, #fortune-button:hover, #yes-button:hover, #no-button:hover, #back-button:hover {
  opacity:0.5;
	cursor: pointer;
}

#single-button:active, #double-button:active, #many-button:active, #fortune-button:active, #yes-button:active, #no-button:active, #back-button:active {
  position: relative;
  top: 3px;
}

#fortune-button {
  margin: 45px auto;
  color: black;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  background-color: rgb(255, 232, 129);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(233, 113, 0);
  width: 180px;
  height: 50px;
}

#question {
  font-size: 30px;
  margin-top: 80px;
}

#yes-button {
  margin: 40px auto;
  color: black;
  font-size: 20px;
  font-family: 'Century Gothic';
  font-weight: bold;
  background-color: rgb(255, 193, 219);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(221, 38, 136);
  width: 200px;
  height: 50px;
  text-align: center;
}

#no-button {
  margin: 50px auto;
  color: black;
  font-size: 20px;
  font-family: 'Century Gothic';
  font-weight: bold;
  background-color: rgb(198, 200, 241);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(72, 69, 228);
  width: 200px;
  height: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  border: dashed;
  margin-bottom: 40px;
}

img{
	width: 250px;
	height: 250px;
	display: flex;
  margin: auto;
  animation-name: fadedown;
    animation-duration: 2s;
}
@keyframes fadedown {
from {
    opacity: 0;
    transform: translateY(0);
}
to {
    opacity: 1;
    transform: translateY(20px);
}
}

#pl, #comment {
  animation-name: fadedown;
    animation-duration: 2s;
}
@keyframes fadedown {
from {
    opacity: 0;
    transform: translateY(0);
}
to {
    opacity: 1;
    transform: translateY(20px);
}
}

#back-button {
  margin: auto;
  color: black;
  font-size: 20px;
  font-family: 'Century Gothic';
  font-weight: bold;
  background-color: rgb(254, 255, 190);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(18, 5, 133);
  width: 170px;
  height: 50px;
  text-align: center;
}

#action {
  margin-top: 18%;
}

#hako {
  width: 250px;
  height: 300px;
  margin-top: 20%;
    animation: r3 1s linear infinite alternate;
  }
   
  @keyframes r3 {
    0%   { transform: rotate(-60deg); }
    100% { transform: rotate(60deg); }
  }

#kuzi-button {
  margin: 50px auto;
  color: red;
  font-size: 20px;
  font-family: 'Century Gothic';
  font-weight: bold;
  background-color: white;
  border: solid 5px;
  border-radius: 10px;
  border-color: red;
  width: 200px;
  height: 50px;
  text-align: center;
}


#kekka {
  width: 300px;
  height: 450px;
    animation-name: fadedown;
    animation-duration: 2s;
}
@keyframes fadedown {
from {
    opacity: 0;
    transform: translateY(0);
}
to {
    opacity: 1;
    transform: translateY(20px);
}
}



/* ロボットアニメーション */
.w {
  left: 80%;
  position: absolute;
  top: 75%;
  z-index: 1;
}

.w-body {
  animation: 1.3s ease-in-out infinite alternate bodyStep;
  background-color: #1f0aff;
  border-radius: 50%;
  height: 80px;
  overflow: hidden;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  width: 80px;
  white-space: nowrap;
}

  .w-body-skin,
  .w-body-skin::before,
  .w-body-skin::after {
    background-color: #fdfdfd;
    border-radius: 50%;
    display: block;
    height: 42px;
    width: 42px;
  }
  .w-body-skin {
    animation: 0.07s ease-in-out infinite alternate skinShake;
    margin: -10px auto 0;
  }
    .w-body-skin::before,
    .w-body-skin::after {
      border-radius: 0 0 50% 50%;
      content: '';
      transform: translateY(20px);
    }
    .w-body-skin::before {
      margin-left: -45px;
    }
    .w-body-skin::after {
      margin: -42px 0 0 45px;
    }

  .w-head,
  .w-head::before {
    background-color: #ffd88f;
    display: block;
    height: 15px;
    margin: -53px 0 0 -8px;
    position: absolute;
    width: 17px;
    z-index: 1;
  }
    .w-head {
      animation: 1.3s ease-in-out infinite alternate bodyStep;
    }
    .w-head::before {
      background-color: rgb(2, 2, 2);
      border-radius: 50% 50% 0 0;
      content: '';
      height: 20px;
      margin: -13px 0 0;
    }

  .w-eye {
    background-color: #ffffff;
    border: 2px solid #2c2c2b;
    border-radius: 0 8px 6px 70%;
    display: block;
    height: 4px;
    margin: -5px 0 0 0.5px;
    position: absolute;
    width: 6px;
    z-index: 1;
  }
    .w-eye::after {
      background-color: #1f1e1a;
      border-radius: 50%;
      content: '';
      display: block;
      height: 3px;
      margin: 0.5px 0 0 2px;
      width: 3px;
    }
    .w-eye_right {
      margin-left: 9px;
      transform: scaleX(-1);
    }

  .w-arm {
    animation: 1.3s ease-in-out infinite alternate bodyStep;
    margin: -31px 0 0 -37px;
    position: absolute;
  }
    .w-arm_right {
      animation: 1.3s ease-in-out infinite alternate bodyStepMirror;
      margin-left: 37px;
    }
    .w-arm::before {
      animation: 0.07s ease-in-out infinite alternate armShake;
      border-radius: 30px 30px 0 0;
      background-color: #fdfdfd;
      content: '';
      height: 38px;
      margin: -5px 0 0 -11px;
      position: absolute;
      transform: rotate(31deg);
      transform-origin: bottom;
      width: 24px;
    }
    .w-arm_right::before {
      animation-delay: 0.07s;
    }
    .w-arm::after {
      content: '';
      background-color: #ffd88f;
      border-radius: 3px 0 30px 30px;
      height: 40px;
      margin: 20px 0 0 -20px;
      position: absolute;
      transform: rotate(49deg);
      width: 25px;
    }

  .w-leg {
    animation: 1.3s ease-in infinite alternate legShift;
    margin: 24px 0 0 -26px;
    position: absolute;
  }
    .w-leg-top {
      animation: 1.3s ease-in infinite alternate legTop;
      background-color: #868685;
      height: 25px;
      position: absolute;
      width: 22px;
    }
    .w-leg-bottom {
      animation: 1.3s ease-in infinite alternate legBottom;
      background-color: red;
      height: 35px;
      margin: 20px 0 0 0px;
      position: absolute;
      width: 22px;
    }
    .w-leg-bottom::before {
      animation: 1.3s ease-in infinite alternate bootsBackground;
      background-color: red;
      border-radius: 50% 0 0 0;
      content: '';
      height: 5px;
      margin: 30px 0 0 -10px;
      position: absolute;
      width: 10px;
    }
    .w-leg_right {
      animation: 1.3s ease-in -1.3s infinite alternate legShiftScale;
      margin-left: 26px;
      transform: scaleX(-1);
    }
      .w-leg_right .w-leg-top,
      .w-leg_right .w-leg-bottom,
      .w-leg_right .w-leg-bottom::before {
        animation-delay: 1.3s;
      }

.w-shoelace,
.w-shoelace::after {
  background-color: white;
  border-radius: 2px;
  height: 1px;
  margin: 7px 0 0 0.5px;
  transform: rotate(45deg);
  width: 6px;
}
  .w-shoelace::after {
    content: '';
    margin: 0;
    position:absolute;
    transform: rotate(90deg);
  }
.w-heel {
  bottom: 0;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 10px;
}
  .w-heel::after {
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 20px;
    position: absolute;
    width: 20px;
  }
@keyframes legShift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -20px);
  }
  90% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}

@keyframes legShiftScale {
  0% {
    transform: translate(0, 0) scaleX(-1);
    z-index: 0;
  }
  50% {
    transform: translate(0, 0) scaleX(-1);
    z-index: 0;
  }
  75% {
    transform: translate(0, -25px) scaleX(-1);
    z-index: 0;
  }
  90% {
    transform: translate(-25px, 0) scaleX(-1);
    z-index: -1;
  }
  100% {
    transform: translate(-25px, 0) scaleX(-1);
    z-index: -1;
  }
}

@keyframes legTop {
  0% {
    background-color: #868685;
    transform: rotate(0deg);
  }
  50% {
    background-color: #868685;
    transform: rotate(0deg);
  }
  75% {
    background-color: #868685;
    transform: rotate(30deg);
  }
  90% {
    background-color: #868685;
    transform: rotate(0deg);
  }
  100% {
    background-color: #868685;
    transform: rotate(0deg);
  }
}

@keyframes legBottom {
  0% {
    background-color: red;
    transform: translate(0, 0)  rotate(0deg);
  }
  50% {
    background-color: red;
    transform: translate(0, 0)  rotate(0deg);
  }
  75% {
    background-color: red;
    transform: translate(0px, -15px) rotate(-20deg);
  }
  90% {
    background-color: red;
    transform: translate(0, 0)  rotate(0deg);
  }
  100% {
    background-color: red;
    transform: translate(0, 0)  rotate(0deg);
  }
}

@keyframes bootsBackground {
  0% {
    background-color: red;
  }
  75% {
    background-color: red;
  }
  90% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

@keyframes bodyStep {
  0% {
    transform: translate3d(-22px, 0, 0);
  }
  2% {
    transform: translate3d(-22px, 0, 0);
  }
  25% {
    transform: translate3d(-11px, -15px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(11px, -15px, 0);
  }
  98% {
    transform: translate3d(22px, 0, 0);
  }
  100% {
    transform: translate3d(22px, 0, 0);
  }
}

@keyframes bodyStepMirror {
  0% {
    transform: translate3d(-22px, 0, 0) scaleX(-1);
  }
  25% {
    transform: translate3d(-11px, -15px, 0) scaleX(-1);
  }
  50% {
    transform: translate3d(0, 0, 0) scaleX(-1);
  }
  75% {
    transform: translate3d(11px, -15px, 0) scaleX(-1);
  }
  100% {
    transform: translate3d(22px, 0, 0) scaleX(-1);
  }
}

@keyframes skinShake {
  from {
    transform: translateX(-2.5px);
  }
  to {
    transform: translateX(2.5px);
  }
}

@keyframes nipplesShake {
  from {
    transform: translate(44px, -25px);
  }
  to {
    transform: translate(50px, -25px);
  }
}

@keyframes armShake {
  from {
    transform: rotate(28deg);
  }
  to {
    transform: rotate(32deg);
  }
}


#setting-button {
  background-color: rgb(190, 187, 187);
  color: #313131;
  border: solid 2px;
  border-radius: 10px;
  border-color: black;
}
#play, #stop {
  margin: 15px auto;
  color: black;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  background-color: rgb(190, 255, 225);
  border: solid 3px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  width: 130px;
  height: 50px;
  text-align: center;
}